extends layout
block scripts
  script(src='/javascripts/post_animal.js')
block content
  h1#AnimalID= AnimalID
  h3.
    Data Status
  div#info
  h3.
    Weight
  div#weight
  h3.
    Name
  div#name
  h3.
    Age
  div#age
  h3.
    Sex
  div#sex
  h3.
    Status
  div#status
  h3.
    Color
  div#color
  h3.
    Breed
  div#breed
